:root {
  --main-font-family: "Poppins", sans-serif;
  --bold-font-weight: 600;
  --mid-font-weight: 400;
  --light-font-weight: 200;
  --primary-font-size: 15px;
  --paragraph-font-color: hsl(229, 6%, 66%);
  --paragraph-font-colornd: hsl(0, 0%, 98%);
  --title-font-color: hsl(234, 12%, 34%);
  --supervisor-border-color: hsl(180, 62%, 55%);
  --teambuilder-border-color: hsl(0, 78%, 62%);
  --karma-border-color: hsl(34, 97%, 64%);
  --calculator-border-color: hsl(212, 86%, 64%);
  --main-bgcolor: #fff;
}

body {
  background-color: var(--main-bgcolor);
  font-family: var(--main-font-family);
  font-size: var(--primary-font-size);
}

.main-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 375px;
  border: none;
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    width: 1200px;
  }
}

.main-paragraph {
  color: var(--title-font-color);
  font-weight: var(--light-font-weight);
  margin: 0;
  margin-top: 60px;
  font-size: 29px;
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    text-align: center;
  }
}

.title {
  color: var(--title-font-color);
  font-weight: var(--bold-font-weight);
  margin: 0;
  margin-top: 5px;
  font-size: 29px;
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    text-align: center;
  }
}

.nd-title {
  color: var(--title-font-color);
  font-weight: var(--bold-font-weight);
  margin: 0;
  margin-top: 5px;
  font-size: 29px;
}

.second-title {
  font-weight: var(--bold-font-weight);
  margin: 0;
  margin-top: 30px;
  margin-left: 30px;
  font-size: 26px;
}

.main-description {
  color: var(--paragraph-font-color);
  font-size: 18px;
  @media screen and (min-width: 768px) {
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    width: 610px;
  }
}

.sections-description {
  color: var(--paragraph-font-color);
  margin: 0;
  margin-top: 10px;
  margin-left: 30px;
}

.supervisor-desc {
  width: 290px;
}

.tb-desc {
  width: 286px;
}

.karma-desc {
  width: 270px;
}

.calc-desc {
  width: 260px;
}

.four-card-sections {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0;
  margin-top: 65px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin: 0 auto;
    margin-top: 65px;
  }
}

.four-card-section {
  max-width: 400px;
  max-height: 260px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 10px 25px -9px rgba(134, 168, 188, 1);
  -moz-box-shadow: 0px 10px 25px -9px rgba(134, 168, 188, 1);
  box-shadow: 0px 10px 25px -9px rgba(134, 168, 188, 1);
  @media screen and (min-width: 768px) {
    position: relative;
    width: 320px;
    height: 240px;
  }
}

.first-section {
  border-top: 6px solid var(--supervisor-border-color);
  @media screen and (min-width: 768px) {
    position: absolute;
    top: 360px;
    left: 240px;
    margin: 0;
    margin-top: 90px;
  }
}

.second-section {
  border-top: 6px solid var(--teambuilder-border-color);
  @media screen and (min-width: 768px) {
    margin: 0;
  }
}

.third-section {
  border-top: 6px solid var(--karma-border-color);
  @media screen and (min-width: 768px) {
  }
}

.fourth-section {
  border-top: 6px solid var(--calculator-border-color);
  @media screen and (min-width: 768px) {
    position: absolute;
    top: 450px;
    right: 240px;
  }
}

.icon {
  width: 75px;
  margin: 0;
  margin-left: 225px;
}

.supervisor-icon {
  margin-top: 28px;
}

.teambuilder-icon {
  margin-top: 30px;
}

.karma-icon {
  margin-top: 30px;
}

.calculator-icon {
  margin-top: 35px;
}
